<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SenbayLive.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F0F3D0821EFDFD800B42A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0F3D1F21EFDFDA00B42A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0F3D2A21EFDFDA00B42A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
